hr {
  border:none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
}

/**/

.chart {
  width: 90%;
  padding-left: 5%;
  max-width: 600px;
  margin-top: 30px;
}

.bar-group {
  display: flex;
  background-color: #F3F3F3;
  padding: 20px;
}

.bars {
  display: flex;
  flex-direction: column;
}

.bars-negative {
  align-items: flex-end;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
  text-align: right;
}
.bars-positive {
  align-items: flex-start;
  text-align: left;
}

.axis {

}
.axis ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 30px;
  text-align: right;
}

.axis ul li {
  height: 19px;
  margin-bottom: 1px;
}
.axis ul li.selected,
.bar.bar-label.bar-empty {
  color: #ccc;
}
.axis ul li > span {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  width: 5px;
  margin-left: 3px;
  border-right: 1px solid #ccc;
}
.axis ul li:first-child > span{
  border-top: 1px solid #ccc;
}

.bar-label, .axis ul li {
  font: 10px sans-serif;
  line-height: 2em;
}

.bar {
  height: 20px;
  margin-bottom: 1px;
  transition: width 0.5s;
}
.bar-value {
  background-color: steelblue;
  color: white;
}

.bar em {
  font-weight: bold;
  font-style: normal;
}
